@model List<WebAcpAmbiental.Models.CanalVenta>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/adminlte.min.css")">

    <style>

        .icon-circle {
            font-size: 16px;
            padding: 4px;
            border-radius: 50%;
            color: white; /* Cambiar a blanco para los iconos */
        }

    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Canal de Ventas</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Principal", "CanalVenta")">Principal</a></li>


                                <li class="breadcrumb-item active">Canal Venta</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default">
                            Nuevo Canal
                        </button>

                        <!-- Modal largo -->
                        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary text-white">
                                        <h4 class="modal-title">Registro de Canal</h4>
                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Columna 1 -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="canal">Canal</label>
                                                        <input type="text" class="form-control" id="canal" placeholder="Ingresa Canal">
                                                    </div>

                                                </div>
                                                <!-- Columna 2 -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="estado">Estado</label>
                                                        <select class="form-control" id="estado">
                                                            <option value="activo">Activo</option>
                                                            <option value="inactivo">Inactivo</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" id="saveChangesBtn">Guardar</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>


                    </div>

                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h1 class="card-title">Listado de Canales</h1>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead class="text-center">
                                            <tr class="text-center">
                                                <th>Codigo</th>
                                                <th>Canal</th>

                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            @foreach (var canalventas in Model)
                                            {
                                                <tr class="text-center">
                                                    <td>@canalventas.IdCanal</td>
                                                    <td>@canalventas.Descripcion</td>

                                                    <td>@canalventas.IdEstadoNavigation?.Descripcion</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-link" data-id="@canalventas.IdCanal" onclick="editarCanal(this)">
                                                            <i class="fas fa-edit icon-circle text-primary"></i>
                                                        </button>

                                                        <button class="btn btn-link btn-eliminar-canal" data-id="@canalventas.IdCanal">
                                                            <i class="fas fa-trash-alt icon-circle text-danger"></i>
                                                        </button>

                                                        <button class="btn btn-link" data-id="@canalventas.IdCanal" onclick="abrirModalCanal(this)">
                                                            <i class="fas fa-info-circle icon-circle text-success"></i>
                                                        </button>
                                                    </td>


                                                </tr>

                                            }




                                        </tbody>

                                    </table>
                                </div>

                                <div class="modal fade" id="modalEditarCanal" tabindex="-1" aria-labelledby="modalEditarCanalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white">
                                                <h4 class="modal-title" id="modalEditarCanalLabel"> Editar Canal</h4>
                                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <!-- Columna 1 -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="canalEditar">Canal</label>
                                                                <input type="text" class="form-control" id="canalEditar" placeholder="Ingresa Canal">
                                                            </div>

                                                        </div>
                                                        <!-- Columna 2 -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="estadoEditar">Estado</label>
                                                                <select class="form-control" id="estadoEditar">
                                                                    <option value="1">Activo</option>
                                                                    <option value="2">Inactivo</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id="saveChangesBtnEditar">Editar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>


                                <div class="modal fade" id="modalCanalDetalle" tabindex="-1" aria-labelledby="modalCanalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content shadow-lg border-0">
                                            <div class="modal-header bg-primary text-white">
                                                <h5 class="modal-title" id="modalCanalLabel">
                                                    <i class="fas fa-user-circle me-2"></i> Detalles del Canal
                                                </h5>

                                            </div>
                                            <div class="modal-body">
                                                <div class="row">

                                                    <div class="col-md-8">
                                                        <div class="mb-3">
                                                            <h6 class="fw-bold">Descripcion</h6>
                                                            <p id="modalDescripcion" class="text-muted"></p>
                                                        </div>
                                                        <div class="mb-3">
                                                            <h6 class="fw-bold">Estado</h6>
                                                            <p id="modalEstado" class="text-muted"></p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer bg-light">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- DataTables  & Plugins -->
    <script src="@Url.Content("~/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/dist/js/adminlte.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/dist/js/demo.js")"></script>
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Page specific script -->
    <script src="~/js/CanalVenta.js" asp-append-version="true"></script>


</body>
</html>

